/*ie7 & ie8 fix for arrows*/

.arrow{
  width: 20px;
  height: 20px;
  position:absolute;
  top:50%;
  z-index:5;
 border: 2px solid red;

}

.arrow:hover{border-color:red;}

.arrow-left{
  left:20px;
  background: url('leftArrow.png');
  
}

.arrow-right{
  right:20px;
  background: url('rightArrow.png');
  
}

.indicators {
  display: inline-block;
}

  #id1, #id2, #id3 {
  background: #000;
 }
