/*ie7 & ie8 fix for arrows*/

.arrow{
  width: 20px;
  height: 20px;
  position:absolute;
  top:50%;
  z-index:5;
}

.arrow:hover{border-color:none;}

.arrow-left{
  left:20px;
  background: url('leftArrow.png') no-repeat;
  border: none;
}

.arrow-right{
  right:20px;
  background: url('rightArrow.png') no-repeat;
  border: none;
}

.arrow-right:hover{
	background: url('rightArrowHover.png') no-repeat;
}

.arrow-left:hover{
	background: url('leftArrowHover.png') no-repeat;
}

.indicators {
  display: inline-block;
}

  #id1, #id2, #id3 {
  background: #000;
 }
